@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/Geist-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/Geist-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/Geist-Semibold.ttf) format("truetype");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/GeistMono-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/GeistMono-Medium.ttf) format("truetype");
}
